---
layout: archive
title: "Consortium"
permalink: /Consortium/
author_profile: true
---
{% include base_path %}

The POPS consortium gathers three research groups, TIMC, CIRI, and ICN, with complementary expertise in metabolomics, infection biology, and molecular pathway analysis.

The coordinator, A. Le Gouellec MCU-PH (40%), is an associate professor and group leader of the "Metabolism evolution and engineering" within the TIMC-TrEE team, and hospital practitioner at the Biochemistry department of CHU Grenoble Alpes. She is responsible for the mass spectrometry-based metabolomics platform GEMELI-GExiM and heads the French-speaking metabolomics and fluxomics network RFMF.

<img class="pops-figure pops-figure--spaced" src="{{ base_path }}/images/Consortium.png" alt="POPS consortium organization across TIMC, CIRI, and ICN">


{% for post in site.Consortium reversed %}
  {% include archive-single.html %}
{% endfor %}
