---
layout: archive
title: "Project"
permalink: /Project/
author_profile: true
---
The WPs, Tasks, Milestones and Deliverables are summarized in the Gantt chart below:

<img src="/images/GANT_POPS.png" alt="GANTT Image" width="600">

Tasks (T), Milestones (M) and Deliverables (D) descriptions are detailed above for each WP. Colour code for WP Lead, Milestones and Deliverable responsibilities: TIMC – CIRI – ICN– ALL



{% include base_path %}

{% for post in site.Project reversed %}
  {% include archive-single.html %}
{% endfor %}

